/* PAGE */

html {
    min-width: 1000px;
    max-width: 1440px;
    margin: auto;
}

body {
    font-family: 'Raleway-Regular', 'Sans serif';
    margin: auto;
}

main {
    padding: 0px 15px 0px 15px;
    margin: auto;
}

a, button, label {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
}

button {
    border: none;
    padding: 0;
}

li {
    list-style-type: none;
}

.Raleway_bold {
    font-family: 'Raleway-Bold';
}

/* PAGE */

/* HEADER */

.header {
   
    display: flex;
    justify-content: space-between;
    
}

.header_img {
    width: 61px;
    height: 19px;
    padding: 50px 0px 40px 20px;
}

.header_nav {
    
    display: flex;
    align-items:flex-start;
    padding-top: 20px;
    
    
}

.header_nav_link {
    height: 40px;
    width: 120px;
    padding-top: 15px;
    text-align: center;
    border-top: 4px solid transparent;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight:400;
}

.header_nav_link:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

/* HEADER */

/* SEARCH */

.search {
    padding: 15px 5px 0px 5px;
}

.search_header {
    display: flex;
    flex-direction: column;
}

.search_header_title {
    font-size: 30px;
    margin: 0px;
    font-size: 22px;
    font-family: 'Raleway';
    font-weight:700;

}

.search_header_subtitle {
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 400;
    margin-top: 5px;
    margin-bottom:15px;
    
}

/* FORM */

.search_form {
    display: flex;
    width: 450px;
    height: 50px;
    padding-top: 15px;
}

.search_form_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot {
    padding-left: 3px;
}

.search_form_searchinput {
    border: 2px solid #F2F2F2;
    padding-left: 20px;
    margin-right: -10px;
    width: 195px;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight:700;
   
}

.search_form_searchinput:focus {
    border: 2px solid #F2F2F2;
    outline: none;
   
   
}

.search_form_submitinput {
   
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 700;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content:center;
    
    
    transition: background-color 350ms ease-in-out;
}

.search_form_submitinput:hover {
    color: #0065FC;
    background-color: #F2F2F2;
}

.search_text_icon {
    font-size: 0;
    
}

/* FORM */

/* FILTERS */

.search_filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
    padding-top: 15px;
}

.search_filters_title {
    padding-right:5px;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight:700;
}

.search_filters_filter {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 50px;
    background-color:white;
    border: 2px solid #d8d8d8;
    border-radius: 50px;
    margin: 20px 0px 15px 15px;
    transition: transform 250ms ease-in-out;
}



.search_filters_filter:hover {
    transform: scale(1.1);
    background-color:  #DEEBFF;
}


.search_filters_filter_icon {
    width: 45px;
    height: 45px;
    color:#0065FC;
    background-color:transparent;
    border-radius: 50px;
    margin: -1px;
    font-size: 17px;
    
    
    
    
}

.search_filters_filter_icon:hover {
    background-color: #DEEBFF;
}

i.fa-solid.search_filters_filter_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_filters_filter_title {
    font-size: 17px;
    font-family: 'Raleway';
    font-weight: bold;
 
    background-color:transparent;
    padding-right: 15px;
}

/* FILTERS */

/* SEARCH RESULT */

.search_result {
    padding-top: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.search_result_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 24px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}

.search_result_icon_info {
    color: #0065FC;
}

.search_result_text {
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 400;
    padding-left: 10px;
}

/* SEARCH RESULT */

/* SEARCH */

/* HOSTING */

.hosting {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.hosting_background {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}
.icone {
    color: #0065FC;
    padding: 20px 20px 0px 0px ;
}

.hosting_title, .hosting_popular_header_icon {
     margin: 30px 30px 15px 30px;
    font-size: 22px;
    font-family: 'Raleway';
    font-weight:700;
}

.hosting_card {
    padding: 5px;
    margin: 15px 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    transition: transform 250ms ease-in-out;
}

.hosting_card:hover {
    transform: scale(1.05);
}

.hosting_card_fig {
    margin: 0px;
}

.hosting_card_fig_img {
    object-fit: cover;
}

.hosting_card_fig_caption {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 5px;
}

.hosting_card_fig_caption_title {
    font-size: 16px;
    font-family: 'Raleway';
    font-weight:700;
}

.hosting_card_from {
    font-size: 14px;
    font-family: 'Raleway';
    font-weight:500;
}

.hosting_card_stars {
    font-size: 12px;
    margin-top: auto;
    padding-left: 5px;
}

.hosting_card_star_on {
    color: #0065FC;
}

.hosting_card_star_off {
    color: #dcdcdc;
}

.hosting_card_fig_caption_title, .hosting_card_from {
    margin: 0px;
    padding-left: 5px;
}

/* HOSTING MAIN */

.hosting_main {
    margin: 20px 15px 20px 0px;
    flex: 2;
}

.hosting_main_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.hosting_main_card {
    width: 29%;
    height: auto;
}

.hosting_main_card_fig_img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 135px;
}

.hosting_main_card_footer {
    padding: 22px;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight:600;

}

.hosting_main_card_footer_link:hover {
    color: #0065FC;
    text-decoration: underline;
}

/* HOSTING MAIN */

/* HOSTING POPULAR */

.hosting_popular {
    margin: 20px 0px 20px 15px;
    padding-bottom: 15px;
    flex: 1;
}

.hosting_popular_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hosting_popular_header_icon {
    font-size: 20px;
    
}
.hosting_popular_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hosting_popular_card {
    width: 90%;
    height: auto;
}

.hosting_popular_card_fig {
    display: flex;
}

.hosting_popular_card_fig_img {
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    min-width: 40%;
    height: 145px;
}

/* HOSTING POPULAR */

/* HOSTING */

/* ACTIVITY */

.activity {
    
    padding: 10px 0px 0px 0px;
}

.activity_header {
    margin: 20px 0px 0px 10px;
}

.activity_header_title {
   
    font-size: 22px;
    font-family: 'Raleway';
    font-weight:700;
    margin-bottom: 0px;
    padding-top: 15px;

}

.activity_cards {
    
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-around;
    height: 530px;
    padding: 0px 15px;
    width: 98%;
}

.activity_card {
    border-radius: 20px;
    margin: 5px;
    width: 23%;
    height: auto;
    box-shadow: 0 0 16px #0000001f;
    overflow: hidden;
    transition: transform 250ms ease-in-out;
}

.activity_card:hover {
    transform: scale(1.05);
}

.activity_card_fig {
    background-color: white;
    margin: 0px;
}

.activity_card_fig_img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.activity_card_fig_caption {
    margin: 20px;
}

.activity_card_fig_caption_title {
    font-size: 16px;
    font-family: 'Raleway';
    font-weight:700;
}

.activity_card_fig_img_large {
    height: 400px;
    
}
.hosting_main_card_footer_link{
    font-family: 'Raleway';
    font-weight:700;
    font-size: 18px;


}

/* ACTIVITY */

/* FOOTER */

.footer {
    background-color: #F2F2F2;
    margin-top: 35px;
    
    padding-bottom: 15px;
   
}

.footer_containers {
    
    display: flex;
    justify-content:space-around;
    
   
    
}

.footer_container {
    
    width: 40%;
    padding: 19px 0px 5px 15px; 
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

.footer_container_title {
    font-size: 19px;
    font-family: 'Raleway';
    font-weight:800;
    margin: 0px;
    
}

.footer_container_list {
    
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    padding-left: 0px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight:400;
    line-height: 35px;
}

.footer_container_list a:hover {
    text-decoration: underline;
}
/****************************************************************************************************************************************************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* PAGE */

html {
    min-width: 768px;
    max-width: 1024px;
}

main {
    padding: 5px;
    
}

    
/* PAGE */

/* SEARCH */

.search {
    padding: 0px 15px 0px 0px;
}

/* FILTERS */

.search_filters {
    
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 0px 0px;
    
}

.search_filters_filter {
    margin: 5px 15px 0px 0px;
}
.search_filters_title{
    width:100%;
}
/* FILTERS */

/* HOSTING */

.hosting {
    flex-direction: column;
}

.hosting_card {
    margin: 10px;
}


/* HOSTING MAIN */

.hosting_main {
    margin: 20px 0px 20px 0px;
    
}

.hosting_main_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
   
    }

.hosting_main_card {
    width: 29%;
    height: auto;
}


.hosting_main_card_fig_img {
    height: 140px;
}

/* HOSTING MAIN */
/* HOSTING POPULAR */

.hosting_popular {
    
    margin: 20px 0px 20px 0px;
    height: 200px;
   
}
.hosting_popular_cards {
    
    flex-direction: row;
}   

.hosting_popular_card {
    width: 30%;
   
}
.hosting_popular_card_fig_img{
    background-color: #0065FC;
    width: 30%;
}

/* HOSTING POPULAR */

/* HOSTING */

/* ACTIVITY */
.activity_cards {
    margin: 0px 30px 0px 0px;
    padding: 30px 0px 0px 0px ;
    height: 285px;
}   
.activity_card{
    
    margin: 0px 5px 0px 15px;
   
}
.activity_card_fig_img_large {
    height:220px;
    
    
}


/* ACTIVITY */


/* FOOTER */
.footer{
    margin-top: 60px;
    
}
.footer_container{
 width: 241px;
}
}
/*******************************************************************************************************************************************************************/
@media screen and (max-width: 768px) {

    /* PAGE */
        
    html {
        min-width: 375px;
        max-width: 768px;
        margin: 0;
    }
    
    main {
        padding: 0;
    }
        
    /* PAGE */
        
    /* HEADER */
        
    .header {
        
        margin-bottom: 15px;
        flex-direction: column;
        justify-content: center;
    }
        
    .header_img {
       display: flex;
       
        width: 61px;
        height: 19px;
       padding: 45px 0px 0px 0px;
       margin:auto;
    }
        
    .header_nav {
        height: 70px;
       
        justify-content: center;
        margin: 0px;
    }
        
    .header_nav_link {
        
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        height: 35px;
        
        border-top: transparent;
        border-bottom: 3px solid #F2F2F2;
    }
        
    .header_nav_link:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
        
    /* HEADER */
        
    /* SEARCH */
    
    .search {
        
        padding: 0px 15px 0px 15px;
        margin-top: 15px;
    }
    
    .search_header {
        padding: 0px;
        
    }
    .search_form_icon{
        width: 50px;
        height: 50px;
    }
    .search_result{
        padding: 0px;
    }
    button.search_form_submitinput{
        width: 50px;
        height: 50px;
    }
        
    /* SEARCH */
        
    /* FORM */
    
    .search_form {
        justify-content: center;
        width: 100%;
        
    }
    
    .search_form_icon {
        
        width: 50px;
    }
    
    .search_form_searchinput {
        width: 100%;
    }
        
    .search_form_submitinput {
        font-size: 0px;
        border-radius: 15px;
        width: 60px;

    }
    
    

    .search_text_icon {
        font-size: 15px;
        
    }    
       
    
    
        
    /* FORM */
        
    /* FILTERS */
    
        
    .search_filters {
        

        margin: 5px 0px 10px 0px;
    }
    .search_filters_title {
        
        width: 100%;
    }
    
    .search_filters_filter {
        width:160px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
       
       
    }
       
    /* FILTERS */
        
    /* HOSTING */
        
    .hosting {
        flex-direction: column-reverse;
    }
    
   
    
    /* HOSTING POPULAR */
        
    .hosting_popular.hosting_background {
        background-color:#F2F2F2;
        margin: 10px;
        padding: 0px 0px 45px 0px;
    }
    .hosting_popular_header_title{
        margin: 35px 0px 0px 25px;
    }
    .hosting_popular_cards{
        padding: 0px 10px 0px 10px;
    } 
    
    .hosting_popular_card {
        
        width: 95%;
        margin: 15px 0px 5px 0px;
        
    }
    
    .hosting_popular_card_fig_img {
        height: 130px;
    }
    .icone{
        padding: 40px 20px 0px 0px;
    }
        
    /* HOSTING POPULAR */
    
    /* HOSTING MAIN */
    .hosting_main.hosting_background{
        background-color:white;
        margin: 10px;
    }    
    .hosting_main_header_title{
       margin: 40px 0px 0px 15px; 
    }
        
    .hosting_main_cards {
        display: flex;
        flex-direction: column;
        padding: 0px 18px 0px 18px;
        width: auto;
    }
    
    .hosting_main_card {
        width: 100%;
        height: auto;
        margin: 15px 0px 0px 0px;
    }
    .hosting_main_card_footer{
        padding: 15px 0px 0px 15px;
    }
        
    /* HOSTING MAIN */
        
    /* HOSTING */
        
    /* ACTIVITY */
    .activity_card{
        padding: 15px 0px 0px 0px;

    }
    .activity_header_title{
        padding: 55px 0px 20px 0px;
    }
     .activity.activity{
        max-width: 738px;
        min-width: 345px;
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 0px 30px;
        
     }   
     .activity_card_fig{
        width: 98%;
        height: 180px;
        margin: 0px 0px 0px 0px;
     }
     .activity_card_fig_caption_title{
        
        padding: 0px 0px 0px 10px;
     }
    .activity_cards{
        height: auto;
        width: 91%;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 50px 0px;
        margin:0px 0px 0px 0px;
        
    }
    .activity_card.activity_card_large{
        
        width: 100%;
        height: 190px;
        padding: 0px 0px 0px 0px;
        margin:15px 0px 0px 0px;
    }
    .activity_card_fig_img.activity_card_fig_img_large{
        height: 68%;
        width:110%;
        padding: 0px 0px 0px 0px;
    }
        
    /* ACTIVITY */
        
    /* FOOTER */
        
    .footer {
        margin-top: auto;
        padding-top: 10px;
    }
        
    .footer_containers {
        
        flex-direction: column;
    }
    .footer_container_title{
        width:225px;
    }

    .footer_container {
        max-width: 330px;
        margin-left: 30px;
        padding-top: 20px;
    }
  

    }
    /* FOOTER */
    
    