/****** General ***********/
h1 h2 h3 {
    font-family: 'Raleway', sans-serif;
    
}

p{
    font-family: 'Raleway', sans-serif;
}





.blocheader {
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.logo {
    background-color: white;
    height: 59px;
    width: 100px;
    padding: 20px 0px 30px 0px;
}


.menuheader {
    background-color: white;
    width: 328px;
    height: 35px;
    display: flex;
    justify-content: space-around;
}

.menuheader a {
    
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style:16px;
    color: black;
}

.menuheader a:hover {

    text-decoration: overline #0065FC;
    color: #0065FC;
}








.bloc2 {
    background-color: white;
    font-size: 16px;
    font-weight: 400;

    height: 310px;
    width: 100%;
    margin-bottom: 15px;


}

.bloc21 {
    background-color: white;
    width: 1340px;
    height: 53px;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;

}

.bloc211 {
    font-size: 22px;
    margin: 0px;

}

.bloc212 {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;


}


.searchBar {
    font-size: 18px;
    color: white;
    font-family: 'raleway', sans-serif;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 0px 0px 0px;
    width: 132px;
    height: 49px;
    border: 1px #0065FC solid;

}

.bloc22 {
    background-color: white;

    height: 100px;
    display: flex;
    align-items: center;
}



input[type=search] {


    font-weight: 700;
    font-size: 18px;
    font-family: 'raleway', sans-serif;
    width: 200PX;
    height: 50px;
    border: 1px #F2F2F2 solid;

}

.logogps {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.bloc23 {
    background-color:white;
    display: flex;
    flex-wrap: wrap;

    
    margin-right: 10px;
    padding: 4px 8px 4px 8px;
}
.bloc231{
    
  width: 80px; 
  
  height: auto;
  display: flex;
  align-content: center;
 
}
.bloc232{
    background-color:white;
    width:750px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


.filtre .button {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-radius: 25px;
    width: 173px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 10px;

    border: 1px #F2F2F2 solid;
}


.filtre button:hover {
    background-color: #DEEBFF;

}








.bloc24 {

    width: 700px;
    display: flex;
    align-items: center;
    margin-top: 10px;


}

.titre1 {
    background-color: white;
    
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px #F2F2F2 solid;
    border-top: 1px #F2F2F2 solid;
    border-right: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
}








button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}



:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
   /* display: flex;
    justify-content: center;*/
    margin-left: auto;
  margin-right: auto;
  width:100% ; 

}

.main-container {
    background-color: white;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));


}



.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.card-subtitle {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements-titletop {
    height: 4%;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;

}

.hebergements-titlebot {
    height: 4%;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 15px;

}



.hebergements {
    background-color:#F2F2F2;
    border-radius: 20px;
    padding: 15px;
    width: 871px;
    min-width: 844px;
    height: 611px;
    display: flex;
    flex-wrap: wrap;
}

.hebergements img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements .card-content {
    height: 38%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.hebergements .card {
    background-color:white;
    width: 240px;
    height: 217px;

   /* width: 28%;
    height: 207px;*/
    margin: 15px;
}



.hebergements .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: 'Raleway', sans-serif;
}

.hebergements .card-subtitle {
    margin: 0;
}

.hebergements .card-rating {
    margin-bottom: 5px;
}






/****** Populaires **********/
.populaires {
    width: 428px;
    min-width: 418px;
    height: 640px;
    margin-left: 30px;

}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********Activités à Marseille*************/

.activites {
    width: 1340px;
    height: 559px;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;


}

.activites-title {
    margin: 30px;
}

.activites-card {
    background-color:white;
    width: 100%;

    height: 439px;

    display: flex;
    



}





.activites-card img {
    height: 85%;
    width: 297px;
    border-radius: 25px 25px 0px 0px;



}

.activites-card .card-content {
    height: 15%;
    width: 100%;
    margin-left: 15px;
    display: flex;
    align-content: flex-end;
}

.bottomcard {
    background-color: white;
    border-radius: 20px;
    margin-left: 30px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));


}


/*************Footer*************/

footer a {
    text-decoration: none;
    color: black;

}

footer {
    background-color: #F2F2F2;
    width: 1340px;
    height: 163px;
    display: flex;
    margin-top: 30px;
    

}

.pdp {
    width: 33%;
    height: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;

    padding-top: 15px;
    padding-left: 15px;
}

.pdp h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0px;
}

.pdp a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding-top: 15px;

}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body {
       
         margin-left: auto;
       margin-right: auto;
       width: 1024px;
     
     }

    .bloc23{
        width: 850px;
    }




    .hebergements-and-populaires {
        flex-direction: column;
        background-color: white;
       
    }

    .hebergements {
        width: 938px;
    }

    .populaires {
        width: 960px;
        height: auto;
       margin-left: 0px;
     margin-top: 30px;

    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 28%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }




    .activites{
        background-color: white;
        width: 938px;
        height: 390px;
    }
    .activites-card{
        height: 270px;
    }

    .bottomcard{
        width:193px;
        height: 270px;
    }
    .bottomcard img{
        width: 100%;
        height: 75%;
    }

    .activites-card .card-content{
        height: 25%;
        
    }

    footer{
        width: 938px;
    }


}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body {
       
        margin-left: auto;
      margin-right: auto;
      width: 767px;
    
    }
    .main-container{
        width: 748px;
    }
/**********header******************/

    .blocheader{
        background-color: white;
        width: 748px;
        display: flex;
        flex-direction: column;
        
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuheader{
        width: 100%;
        
    }
    .a-hebergements{
        background-color:white;
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: 2px #F2F2F2 solid;
    }
    .a-activites{
        background-color: white;
        width: 50%;
        display: flex;
        justify-content: center;
        
        border-bottom: 2px #F2F2F2 solid;
    }

    .bloc2{
      
    }


    .bloc21{
        width: 748px;
    }


    .bloc22{
        width: 748px;
        display: flex;
        justify-content: center;
    }


    .bloc23{
        width: 748px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .bloc231{
        background-color: white;
        width: 100%;
        height: 50px;
        padding: 0px;
        margin: 0px;
       
    }
    .bloc232{
        background-color:white;
        width: 80%;
        height: 120px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        }

        .filtre .button {
            background-color: white;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            border-radius: 25px;
            width: 246px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;
            margin: 5px;
        
            border: 1px #F2F2F2 solid;
        }










    /**********Populaire******************/
    .populaires{
        width: 748px;
        height:934;
        display: flex;
        flex-direction: column
       
    }
    .populaires-cards{
        width:  748px;
        height: 934px;

        display: flex;
        flex-direction: column;
        
    }
    .populaires-cards .card{
        width: 91%;
        height: 30%;
        
        

    }
    .populaires-cards img {
        width: 33%;
        height: 100%;
    }

/*****************Hebergements**********************/
    .hebergements{
        height: auto;
        width:  718px;
        min-width: 522px;
        display: flex;
        flex-direction: column;
    }
    .hebergements .card {
        background-color:white;
    
        width: 95%;
        height: 400px;
       
    }
    .hebergements img{
        height: 60%;
        width: 100%;
    }
    .hebergements .card-content{
        height: 40%;
        width: 100%;
    }

    
/*******************Activités********************/
    .activites{
        width:  748px;
        height: 1800px;
    }
    .activites-card{
        
        height: 1800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .activites-card .bottomcard{
        
        width: 85%;
        height: 22%;
        margin-bottom: 30px;
       margin-left: 55px;
    }



    
/******************Footer*********************/
    footer{
        width: 748px;
        height:600px;
        display: flex;
        flex-direction: column;
    }
    .pdp{
        
    margin-top: 60px;
    margin-left: 45px;
    }
    
}